# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. RStudio
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy
3. Matplotlib
4. Numpy

|   | Data Science Tools |
|---|---|
| 1. |TensorFlow.js|
| 2. |ML Flow|
| 3. |Hadoop|
| 4. |Scrapy|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [15]:
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/60
print(hours)

3.3333333333333335

**Objectives**:
1. Create a Jupyter Notebook
2. Insert code and markdown cells
3. Share your notebook through GitHub

## Author
Rohith